*.ignore

# Output files
*.pdf
*.log
*.aux
*.out
*.idx
*.toc
*.synctex*
*.swp
*.tmp
*.fls
*.fdb_latexmk
*.xdv
*.bcf
*.run.xml
*.bbl
*.blg
*.bbl-SAVE-ERROR

# Font files
*.ttf

# Auxiliary files
*.awk
*.db

test.tex
word_count.txt
